/* Navigation Bar Styling */
.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.name {
    color: #c2c8ce;
    font-size: 26px;
}

.jobtitle {
    font-size: 20px;
    color: #818eb1;
}

/* Background Image */
.backgroundimage {
    background-image: url("./Images/mountainbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Body */
.page-header {
    margin-top: 100px;
}

.breakline {
    background-color: dimgrey;
    height: 3px;
    width: 50%;
}

.aboutme {
    padding: 30px; 
    text-align: center; 
    display: inline-block; 
    clear: left; 
}

.profile {
    background-color: #648a70;
    padding: 30px; 
    text-align: center; 
    display: inline-block; 
    clear: left; 
    border: #333;
    border-style: double; 
}

img {
    border-radius: 5%;    
}

.headshot {
    /* background-color: #607767; */
    position: relative;
    border: #333;
    border-style: double;    
    background-color: #648a70;
}

.btn-resume {
    background-color: #343a40;
    color: #818eb1;
}

.port-container {
    margin-bottom: 30px;
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #ffffff; */
}

.port-breakline {
    background-color: dimgrey;
    height: 3px;
    width: 100%;
}

.logo {
    height: 100px;
}

.project-title {
    font-size: x-large;
}
.example {
    border: #333;
    border-style: double;   
}
.cardcolor {
    background-color: #648a70;
}
.card-title {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #020202
}
.card-text {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #020202
}

.contact-container {
    margin-top: 50px;
    padding: 25px;
    height: 750px;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    position: absolute;

}
.campusimg {
    width: auto;
    height: 300px;
    /* float: left; */
    /* margin: 10px; */
}


@media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }

    .profile{
        float: left;
    }

    .info {
        float: left;
        margin: 20px;

    }
}